## Customer Churn Predictions- Using ANN 
We are given data sets for customers in a bank and we need to find if the customer will stay with bank or exit.<br>
We are using ANN that is <b>Artificial Neural Networks</b> to solve this problem.

### import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Loading data and selecting inputs and output from dataset

In [2]:
data=pd.read_csv("Churn_Modelling.csv")

In [3]:
data.head(2)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0

In [4]:
data.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [5]:
X=data.iloc[:, 3:-1]
y=data.iloc[:,-1]

### Creating dummies for categorical data- Gender and Geography

In [6]:
geography=pd.get_dummies(X['Geography'],drop_first=True)
gender=pd.get_dummies(X['Gender'], drop_first=True)

### Concatenating dummies created to input data set

In [7]:
X=pd.concat([X,geography,gender],axis=1)
X=X.drop(['Geography','Gender'], axis=1)

In [8]:
X.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

<b> Splitting the data set into training and test data

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

<b>feature scaling

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

<b>Import Keras libraries for ANN model

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

<b>Creating ANN model

In [12]:
model=Sequential()
model.add(Dense(units=6, kernel_initializer = 'he_uniform', activation='relu', input_dim=11))
model.add(Dense(units=6, kernel_initializer = 'he_uniform', activation='relu'))
model.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

model.compile(optimizer='Adamax', loss= 'binary_crossentropy', metrics=['accuracy'])

<b> Fitting training data to the model

In [13]:
model_result=model.fit(X_train,y_train, validation_split=0.33, batch_size=10, epochs=10)

Epoch 1/10
536/536 [==============================] - 8s 11ms/step - loss: 0.9837 - accuracy: 0.3866 - val_loss: 0.6550 - val_accuracy: 0.6846
Epoch 2/10
536/536 [==============================] - 2s 4ms/step - loss: 0.6196 - accuracy: 0.7213 - val_loss: 0.5578 - val_accuracy: 0.7732
Epoch 3/10
536/536 [==============================] - 2s 4ms/step - loss: 0.5434 - accuracy: 0.7828 - val_loss: 0.5252 - val_accuracy: 0.7917
Epoch 4/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4964 - accuracy: 0.8031 - val_loss: 0.5068 - val_accuracy: 0.7925
Epoch 5/10
536/536 [==============================] - 2s 4ms/step - loss: 0.5081 - accuracy: 0.7865 - val_loss: 0.4940 - val_accuracy: 0.7933
Epoch 6/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4768 - accuracy: 0.8000 - val_loss: 0.4848 - val_accuracy: 0.7940
Epoch 7/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4744 - accuracy: 0.7965 - val_loss: 0.4772 - val_accuracy: 0.7955
Epoch 8/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4525 - accuracy: 0.8063 - val_loss: 0.4706 - val_accuracy: 0.7959
Epoch 9/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4553 - accuracy: 0.8031 - val_loss: 0.4650 - val_accuracy: 0.7974
Epoch 10/10
536/536 [==============================] - 2s 4ms/step - loss: 0.4654 - accuracy: 0.7955 - val_loss: 0.4596 - val_accuracy: 0.7978

In [14]:
# list all data in history

print(model_history.history.keys())
# summarize history for accuracy
plt.plot(model_history.history['acc'])
plt.plot(model_history.history['val_acc'])
plt.title('model accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

# summarize history for loss
plt.plot(model_history.history['loss'])
plt.plot(model_history.history['val_loss'])
plt.title('model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

NameError: name 'model_history' is not defined

### Visualizations- visualizing results based on accuracy, loss

In [ ]:
## list all data in history
print(model_result.history.keys())

In [ ]:
plt.plot(model_result.history['accuracy'])
plt.plot(model_result.history['val_accuracy'])
#plt.title("Model")
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train', 'test'], loc='upper left')
plt.show()

In [ ]:
plt.plot(model_result.history['loss'])
plt.plot(model_result.history['val_loss'])
plt.title=('loss visualization')
plt.xlabel('epoch')
plt.ylabel('loss')
plt.legend(['train','test'])
plt.show()

<b>evaluation of model with test data

In [ ]:
y_pred=model.predict(X_test)
y_pred

In [ ]:
y_pred=(y_pred>0.5)

In [ ]:
y_pred

<b>Confusion Matrix

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

<b>Calculating Accuracy

In [ ]:
from sklearn.metrics import accuracy_score
score=accuracy_score(y_pred,y_test)

In [ ]:
score